include ../partials/header.pug
h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}

.shareEvent
  label(for="url") Partagez l'évenement
  input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`Vous êtes invité à rejoindre l'événement ${party.name}`)

form.newParty(method="post" action=`/party/${party._id}/items`)
  .newParty__fields
    label(for="item") Ajouter un item :
    input(id="item" name="name" required)
    label(for="user") Votre nom :
    input(id="user" name="user" required) 
    button(type="submit") Ajouter

section
  if party.items.length > 0
    h3 Items
    each item in party.items
      article
        h4= item.name
        p= item.user
        form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`)
          button(type="submit") Supprimer

  else
    p Aucun item pour le moment... 
  